<section class="carrusel">
  @if (cargando()) {
    <p>Cargando proyectos...</p>
  } @else if (error()) {
    <p class="error">{{ error() }}</p>
  } @else {
    @for (proyecto of proyectos(); track proyecto.id) {
      <article>
        <h3>{{ proyecto.nombre }}</h3>
        @if (proyecto.url) {
          <a [href]="proyecto.url" target="_blank">
            <img [src]="proyecto.img" [alt]="'Imagen de ' + proyecto.nombre" />
          </a>
        } @else {
          <img [src]="proyecto.img" [alt]="'Imagen de ' + proyecto.nombre" />
        }
        <h5>
          @for (tec of proyecto.tecnologias; track tec.id) {
            <span>{{ tec.nombre + ' ' }}</span>
          }
        </h5>
        <p>{{ proyecto.descripcion }}</p>
      </article>
    }
  }
</section>
