.carrusel {
  display: flex;
  gap: 20px;
  padding: 40px;

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  justify-content: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  align-items: stretch;
}

article {
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  scroll-snap-align: center;
  transition: transform 0.4s ease;

  transition:
    filter 0.4s ease,
    transform 0.4s ease;
  margin: 0;
}

@media (max-width: 800px) {
  .carrusel {
    justify-content: flex-start;
    padding-left: 10vw;
  }
}

article p {
  flex-grow: 1;
  margin-bottom: 15px;
}

article:hover {
  transform: scale(1.02);
}

img {
  width: 80%;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
}
