<article>
  <h3>Catálogo Comercial</h3>
  <img src="assets/fotos/fungiplus.png" alt="Catálogo de Hongos" />
  <p>
    Muestra de catálogo de una despensa de productos fungicos con CRUD simple almacenado localmente.
  </p>
</article>
<article>
  <h3>Pikmin Weather</h3>
  <img src="assets/fotos/pikminweather.png" alt="Landing page de Pikmin Weather" />
  <p>
    Página web del clima con acceso a API para mostrar distintos GIFs de Pikmin dependiendo del
    fenómeno meteorológico
  </p>
</article>
<article>
  <h3>Dungeon Quest</h3>
  <img src="assets/fotos/dungeonquest.png" alt="Inicio de Dungeon Quest" />
  <p>RPG infinito simple hecho en Python</p>
</article>
