<p>
  Asisto desde 2023 a la Escuela Provincial N°713 en Esquel, Chubut. Desde entonces que curso, en la
  modalidad de la ETP, la tecnicatura de Informática Personal y Profesional.
</p>
<img src="assets/fotos/esc.jpg" alt="Foto de la Escuela" />
<p>
  En la 713 aprendemos de mantenimiento, reparación e instalación de software, hardware y cableado
  estructurado de redes, pero además le damos gran importancia a nuestras habilidades de
  programación. En especial tenemos como enfoque principal a la programación web, siendo en el
  último año donde aplicamos todo su potencial con Angular+TS y diseños de B.B.D.D.
</p>
