asgiref==3.12.1
Django==6.1.1
django-cors-headers==4.9.0
django-stubs==6.1.1
django-stubs-ext==6.1.1
djangorestframework==3.18.1
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
