<form [formGroup]="inicioSesionForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <input type="email" placeholder="Correo electrónico" formControlName="email" />
    @if (inicioSesionForm.get('email')?.invalid && inicioSesionForm.get('email')?.touched) {
      <div class="validacion">El e-mail es requerido o inválido</div>
    }
  </div>

  <div class="input-group">
    <input type="password" placeholder="Contraseña" formControlName="contrasenia" />
    @if (
      inicioSesionForm.get('contrasenia')?.invalid && inicioSesionForm.get('contrasenia')?.touched
    ) {
      <div class="validacion">La contraseña es requerida</div>
    }
  </div>

  <button type="submit" [disabled]="inicioSesionForm.invalid">Iniciar Sesión</button>
</form>
